@import './components/views/home-view.css';
@import './components/auth/login-form.css';
@import './components/layout/footer/footer.css';
body{
    position: relative;
    background-color: #EDF2F7;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 12px;
}

main{
    min-width: 100%;
    min-height: 100vh;
    background-color: #d9d9d9;
    padding: 0  2rem;
}

#app {
    min-height: 100vh;
}

.py-4 {
    margin: 0;
}
