
main{
    min-width: 100%;


}
.login-container{
    padding-top: 120px;
    width: 900px;
    height: 1200px;
    
}
.card-header{
    height: 30px;

}
.card-body{
    height: 450px;


}
.card-body>form{

    top: 30px;
}
form{

    margin-top: 80px;
    

}
.form-check{

   align-items: center;
   align-content: center;
    
}